body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
  }
  
  h1, h2, h3 {
    font-weight: bold;
  }
  
body {
    background-color: #a88da9;
    color: #000000;
  }
  
  a {
    color: #090fbe;
  }
  
  a:hover {
    color: #0056b3;
  }

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  